{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="col-md-6 offset-md-3 white-opaque">
    <form method="post" action="{% url 'register' %}" class="accountform">
        <fieldset class="form-group">
            <legend>Create a new account</legend>
            
                <button type="submit" class="btn btn-block btn-danger" onclick="style.display='none';">
                    <i class="fas fa-times-circle"></i>&nbsp;
                    ATTENTION: Use a <u>real</u> email address. This is where your high resolution image purchases will be sent to.
                </button>

            <p>Already got an account? <a href="{% url 'login' %}">Sign In</a></p>
            {% csrf_token %}
            {{ user_form | as_bootstrap }}
            <button type="submit" class="btn btn-primary">Create account</button>
        </fieldset>
    </form>
</div>
{% endblock %}