{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Pixel Photo | Contact{% endblock %}

{% load bootstrap_tags %}

{% block content %}

<!-- BOOTSTRAP CAROUSEL EDITTED FOR ONE IMAGE ONLY -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'media/slide-contact.jpg' %}" alt="Contact">
    </div>
  </div>
</div>

<!-- CONTACT FORM -->
<div class="col-md-6 offset-md-3 green-opaque">
    <form method="post" action="{% url 'contact_us' %}">
        <fieldset class="form-group">
            <legend>Contact Us</legend>
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</div>

{% endblock %}