/* BELOW FROM LESSON */

body {
   padding-bottom: 150px;
   margin: 0px;
}

.container-fluid-margin {
	margin: 0;
	padding: 0;
}

.toast {
    border: none;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0px);
    z-index: 9999;
}

.toast-header {
    background-color: #95c11f;
    min-width: 330px;
    padding-top: 12px;
    min-height: 50px;
    color: #FFFFFF;
}

/*.icon-bar {*/
/*    background-color: #fff;*/
/*}*/

/*.accountform {*/
/*    padding-top: 20px;*/
/*}*/

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

/*.label-warning[href],*/
/*.badge-warning[href] {*/
/*    background-color: #c67605;*/
/*}*/

.product {
    transition: all .2s ease-in-out;
    transform: scale(1);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 250px;
    margin: 0 auto;
}

.product:hover {
    transform: scale(1.05);
    background-image: url('{{ MEDIA_URL }}{{ product.image }}');
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.panel-body {
    height: 100%;
    padding: 20px;
    border: 1px solid #ddd;
}

.panel {
    margin-bottom: 20px;
}

.product-description {
    min-height: 40px;
}


/* MY STYLES */

.navbar {
    padding: 10px 25px 15px 25px;
}

.search {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    margin: 10px;
}

.white-opaque {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    padding: 25px;
    margin: 50px auto;
}

.page-footer {
    background-color: #222222;
    color: #FFFFFF;
}

.alert,.alert-success {
    background-color: rgba(149, 193, 31, 0.9);
    border-radius: 0px;
    margin: 0;
}


/*CUSTOM STYLING FOR HEADINGS */
h1,h2,h3,h4,h5,h6 {
    text-align: center;
    color: #444444;
}

h2 {
    text-align: left;
}

h4 {
    color: #95c11f;
    margin-top: 10px;
}

/* SOCIAL ICON STYLING */
.social {
    padding: 10px;
    height: 50px;
}


/* MEDIA QUERIES */

/* Correct 3 x home category sections to stay centred on smallest of screens */
@media (min-width: 100px) {
    .justify-content-sm-center {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}

/* SHRINK NAVBAR ELEMENTS WIDTH ON LARGE SCREENS */
@media only screen and (min-width: 1200px) {
    .navbar-brand {
        margin-left: 40%;
    }
    #myNavbar > ul {
        margin-right: 40%;
    }
}

