{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}

<!-- PAGE HEADING -->
<h3 class="cart-heading">Checkout</h3>

<!-- PAGE SPECIFIC DATABASE ITEMS -->
<div class="row row-flex">
    {% for item in cart_items %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 display panel">
        <div class="panel-body">
            <div class="product" style="background-image: url('{{ item.product.image.url }}')"></div>

            <a href="{{ item.product.image.url }}">
                <h4>{{ item.product.name }}</h4>
            </a>
            <p class="product-description">{{ item.product.description }}</p>
            <h5>&euro;</i>{{ item.product.price }}</h5>
        </div>
    </div>
    {% endfor %}
</div>

<!-- TOTAL AND CHECKOUT BUTTON -->
<div class="container">
    <div class="row">
        <h4>Total &euro;{{ total }}</h4>
    </div>
</div>

<!-- FORM -->
<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <legend>Payment Details</legend>

    <!-- MESSAGES -->
    <div id="credit-card-errors" style="display: none;">
        <div id="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    <!-- CUSTOMER DETAILS FORM -->
    <div class="container">
      <div class="row">
        <div class="form-group col">
            {{ order_form | as_bootstrap }}
        </div>
        <div class="form-group col">
            {{ payment_form | as_bootstrap }}
        </div>
      </div>
    </div>

    {% csrf_token %}
    <!-- CHECKOUT BUTTON -->
    <div class="form-group col-md-12">
        <input class=" btn btn-success" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
    
</form>

{% endblock %}